*{
   margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: url('../assets/moroccan-flower (1).png');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*ah yes, float, I miss how simple you were to use. It's literally the only thing that is working for me right now.*/
main img{
    float: left;
    margin-right: 30px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    
}
/* I have no idea why my nav does not go past the center. I don't know what else to label or edit in the header to make it more OBVIOUS to the program that I want it MARGIN-RIGHT!! So frustrated*/
nav {
    display: flex;
    
}

.link{
    margin-right: auto;
    margin: 0 4px;
}
/*I don't know why the header words are stacked on top of each other. The only thing that makes sence to me is inline-block, which I CANT USE RIGHT NOW!!!*/
.portfolio{
    margin-left: auto;
}

.portfolio, .link{
    color: white;
    margin-right: auto;
}

header, footer{
    background: dodgerblue;
    padding: 20px 0;
    border-bottom: 1px solid black;
    color: white;
}

h1{
    width: 30%;
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
}

main{
    background-color: white;
    padding: 15px 15px;
}

aside{
    display: flex;
    background-color: white;
    border: solid black 1px;
    flex-direction: row;
}

/*how do I rearange the boxes so the text is up top? No idea, I'm so lost I don't even know what to ask for help on anymore. I feel like I'm marooned on an island in the middle of the ocean and the only way I can ask for help is with a stick in the sand. SOS!*/
.box1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}
/*now the words are across the collumn, but the <a> tags are all outside the box!?!?! WHAT???*/

.box{
    order: -1;
    flex: 1 0 100%;
}

a{
    padding-left: 4px;
}

footer{
    text-align: center;
    font-family: sans-serif;
    margin-top: auto;
}
/*I have followed all the video tutorials and tried to copy them to the best of my ability. If I had a DIME for every time I rewound the tutorial to try and figure out what I'm doing wrong, I'd be RICH! Here's to sipping sparkling water on a beach, happy, content, and no flexbox*/
/*challenges... challenges... WHERE DO I START?!?!? All of it and EVERYTHING was a challenge. You name it, it's a challenge for me. THE END.*/